[submodule "PGDP-W10H03---Bis-Zur-Unendlichkeit"]
	path = PGDP-W10H03---Bis-Zur-Unendlichkeit
	url = https://github.com/YifanChen03/PGDP-W10H03---Bis-Zur-Unendlichkeit.git
[submodule "W02H01---Meet-and-Greet-in-der-Antarktis"]
	path = W02H01---Meet-and-Greet-in-der-Antarktis
	url = https://github.com/YifanChen03/W02H01---Meet-and-Greet-in-der-Antarktis.git
